@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');


$primary--clr: #FF4605;
$primary--clr-light: #FFF0EB;
$secondary--clr: #222732;
$secondary--clr-light: #EFF3FA;

$primary--font: 'Mulish', sans-serif;
$transition: all 0.2s ease-out;
