@import '../../assets/scss/main.scss';

.makes--container {
    margin-top: 10em;
    overflow-x: hidden;

    .makes--title {
        color: $secondary--clr;
        font-size: 3.5em;
        font-weight: 800;
        z-index: 1;
        margin-bottom: 40px;

        @media (max-width: 1024px) {
            font-size: 2.5em;
        }

        @media (max-width: 576px) {
            font-size: 2em;
        }

        &-bold {
            color: $primary--clr;
        }
    }

    .makes--list-wrap {
        background-color: $secondary--clr-light;
        padding: 3.5em 0;

        .makes--list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            align-items: center;
            justify-content: center;
            gap: 2.5em;
        }

        .makes--item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 320px;
            height: 400px;
            margin: 0 auto;
            border-radius: 10px;
            -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
                    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
            overflow: hidden;

            .make--img-wrap {
                width: 100%;
                height: 100%;
                background-color: #fff;
                overflow: hidden;

                img {
                    -o-object-fit: cover;
                       object-fit: cover;
                    height: 100%;
                    transition: all 0.3s ease-out;
                }
            }

            .make--text-wrap {
                width: 100%;
                position: absolute;
                bottom: -75px;
                padding: 0.8em 1em 0;
                background-color:rgba($secondary--clr, .6);
                color: #fff;
                transition: $transition;

                .make--desc {
                    font-size: 15px;
                    line-height: 21px;
                    font-weight: 300;
                }
            }

            &:hover {
                .make--text-wrap {
                    bottom: 0;
                    background-color: rgba($secondary--clr, 1);
                }

                .make--img-wrap {
                    img {
                        -webkit-filter: blur(3px);
                                filter: blur(3px);
                    }
                }
            }
        }
    }

    .makes--list-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 576px) {
            flex-direction: column-reverse;
            gap: 2em;
        }
    }

    .search--input {
        input {
            padding: 7px 12px;
            border: 1px solid $gray--100;
            border-radius: 4px;

            &:focus {
                border: 1px solid $secondary--clr;
            }
        }
    }

    .pagination--wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin: 40px auto;

        button {
            border: none;
            outline: none;
            color: $secondary--clr;
            background-color: transparent;
            font-size: 20px;

            &:hover {
                color: $primary--clr;
                background-color: transparent;
            }

            &.active {
                color: $primary--clr !important;
                background-color: transparent;
                
                &:hover {
                    color: inherit;
                    background-color: transparent;
                }
            }
        }
    }
}