@import '../../assets/scss/main.scss';

.not-found-page {
    height: calc(100vh - 41px);
    display: flex;
    align-items: center;
    justify-content: center;

    .main--title {
        font-size: 3rem;
        font-weight: 700;
        color: $secondary--clr;
        margin-bottom: 1rem;

        @media (max-width: 576px) {
            font-size: 2.5em;
        }

        &-bold {
            color: $primary--clr;
        }
    }
}