@import '../../assets/scss/main.scss';

.form--container {
    margin: 8em auto 3em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
        margin: 8em auto 5em;
    }

    .main--title {
        color: $secondary--clr;
        font-size: 3em;
        font-weight: 700;
        z-index: 1;

        @media (max-width: 576px) {
            font-size: 2em;
        }

        &-bold {
            color: $primary--clr;
        }
    }

    
    .form--wrap {
        width: 500px;
        min-width: 500px;
        padding: 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

        @media (max-width: 576px) {
            width: auto;
            min-width: auto;
            padding: 30px 20px;
        }

        
        
        form {
            .form--group {
                display: flex;
                flex-direction: column;
                margin-bottom: 2em;

                label {
                    font-size: 20px;
                    font-weight: 600;
                    color: $secondary--clr;
                    margin-bottom: 8px;
                }

                input {
                    border: 1px solid $primary--clr-light;
                    outline: none;
                    padding: 10px 15px;
                }

                textarea {
                    outline: none;
                    border: 1px solid $primary--clr-light;
                    padding: 10px 15px;
                }

                .errors {
                    font-size: 13px;
                    color: $primary--clr;
                    margin-bottom: 0;
                }
            }
        }
    }
}